<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Média</h4>
      </div>
      <div class="panel-body"><%= @statistic.mean %></div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Moda</h4>
      </div>
      <div class="panel-body"><%= @statistic.mode %></div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Mediana</h4>
      </div>
      <div class="panel-body">
        <% if @statistic.distribution_type == "continuous" %>
          <%= @statistic.median %> (classe utilizada: <%= @statistic.median_class %>)
        <% else %>
          <%= @statistic.median %>
        <% end %>
      </div>
    </div>
  </div>
</div>