<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th style="width:14%;">xi</th>
      <th style="width:14%;">fi</th>
      <th style="width:14%;">fr%</th>
      <th style="width:14%;">F</th>
      <th style="width:14%;">F%</th>
      <th style="width:14%;">Média (xi*fi)</th>
      <th style="width:16%;">Variância</th>
    </tr>
  </thead>
  <tbody>
    <% @table.each do |row| %>
    <tr>
      <td><%= row[1]["xi"] %></td>
      <td><%= row[1]["fi"] %></td>
      <td><%= row[1]["fr%"] %>%</td>
      <td><%= row[1]["F"] %></td>
      <td><%= row[1]["F%"] %>%</td>
      <td><%= row[1]["xi*fi"] %></td>
      <td><%= row[1]["variance"] %></td>
    </tr>
    <% end %>
  </tbody>
</table>