<% if @error %>
  <div class="alert alert-danger">
    <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
    <p><strong>Atenção!</strong> <%= @error %></p>
  </div>
<% end %>

<form action="/" method="post" id="raw" name="raw">
  <textarea id="data" rows="6" name="raw[data]" placeholder="Dados brutos, separados por vírgula. Exemplo: 10,20,30,40,50"><%= @raw_data %></textarea>
  <input type="hidden" id="distribution_type" name="distribution_type">

  <strong>Referência:</strong>
  <label class="radio-inline"><input type="radio" name="collection_type" id="population" value="population" <%= is_checked?('population') %>> População</label>
  <label class="radio-inline"><input type="radio" name="collection_type" id="sample" value="sample" <%= is_checked?('sample') %>> Amostra</label>

  <div class="action">
    <input type="submit" value="Variável Discreta" id="submit_discrete_form" class="btn btn-primary">
    <input type="submit" value="Variável Contínua" id="submit_continuous_form" class="btn btn-success">
  </div>
</form>

<% if @statistic %>
  <h3>Processamento da variável quantitativa <%= distribution(@statistic.distribution_type) %></h3>

  <ul id="data_tab" class="nav nav-tabs">
    <li class="active"><a href="#table">Tabela</a></li>
    <li><a href="#central_tendency">Medidas de tendência central</a></li>
    <li><a href="#dispersion_measure">Medidas de dispersão</a></li>
    <li><a href="#normal_distribution">Distribuição normal</a></li>
    <li><a href="#chart">Gráficos</a></li>
    <li><a href="#ranked_data">Rol</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade in active" id="table"><%= partial(@statistic.distribution_type) %></div>
    <div class="tab-pane fade" id="central_tendency"><%= partial(:central_tendency) %></div>
    <div class="tab-pane fade" id="dispersion_measure"><%= partial(:dispersion_measure) %></div>
    <div class="tab-pane fade" id="normal_distribution"><%= partial(:normal_distribution) %></div>
    <div class="tab-pane fade" id="chart"><%= partial(:chart) %></div>
    <div class="tab-pane fade" id="ranked_data"><%= partial(:ranked_data) %></div>
  </div>
<% end %>
